*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
libs/
src/androidTest/
src/main/java/com/wdsunday/weight/
src/test/
app/libs/
app/src/androidTest/
app/src/main/java/com/wdsunday/weight/
app/src/test/
