<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.lll0.bus.suzhoubus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="net.lll0.bus.ui.APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">


        <meta-data android:value="597c4f38c8957611600017ca" android:name="UMENG_APPKEY"/>
        <meta-data android:value="test" android:name="UMENG_CHANNEL"/>
        <activity
            android:name="net.lll0.bus.ui.home.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="net.lll0.bus.ui.businfo.LineInfoActivity" />
        <activity
            android:name="net.lll0.bus.ui.test_activity.TestActionActivity"
            android:label="@string/title_activity_test_action"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="net.lll0.bus.ui.other.NotNetworkActivity" />
        <activity android:name="net.lll0.bus.ui.test_activity.RecyclerViewTestActivity" />
    </application>

</manifest>